h1{
    margin-bottom: 25px;
}

.form-inline{
    margin-top: 25px;
}

.glyphicon-send{
    margin-top: 5px;
    margin-bottom: 20px;
}

.glyphicon-refresh {
    margin-left: 10px;
    margin-top: 5px;
    vertical-align: top;
}
.sendrefresh{
    display: inline;
}

.alert-success{
    font-family: Verdana;
    margin-bottom: 0px;
}

.sender{
    font-style:italic;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.panel-body{
    margin-top: 0px;
}

div.error{
margin-top: 20px;
}

.messageList{
    margin-top: 84px;
}