<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h2>Peer to Peer Chat program</h2>
<form action="/register" method="post">
    Your username: <input type="text"/>
    <input type="submit" value="update"/>
</form>
<li>
    App
</li>
<ul>Hi there! Submit your message using the send button!</ul>
<textarea name="message" id="" cols="30" rows="5"></textarea>
<form action="/send" method="post">
    <input type="submit" value="send"/>
</form>
</body>
</html>